@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout"; //Kendi olusturdugumuz layoutu verdik
}

@section footer
{
    <p style="color:forestgreen">Bu kodlar footer'ın hemen alt satırına eklenmek için yazıldı(yani footer kısmına eklenir sayfada)'</p>
}

@section header
{
    <p style="color:red">Bu kodlar header'ın hemen alt satırına eklenmek için yazıldı(yani sayfanın baş kısmına)' </p>
}

<div>
    Bu sayfa Example Controller > Index Sayfası
</div>