@model VisitorViewModel

<h2>Ziyaretçi Yorumları</h2>


<div class="row">
    <div>
        <form asp-controller="Home" asp-action="SaveComment" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">İsim</label>
                <input class="form-control" asp-for="Name">
            </div>

            <div class="form-floating mb-3">
                <textarea asp-for="Comment" class="form-control" placeholder="Yorum Ekleyiniz." style="height: 100px"></textarea>
                <label asp-for="Comment">Ürün açıklaması girebilirsiniz</label>
            </div>
            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>

    <div >
        <vc:visitor-list></vc:visitor-list>
    </div>
</div>

@if (TempData["result"]!=null)
{
    <div class="alert alert-info">@TempData["result"]</div>
}




