
@{
    ViewData["Title"] = "Index3";
}

<h1>Metodlar arası veri taşıma testi </h1>
<p> ViewBag ile ındexTeki isimi çekmeye çalışalım => @ViewBag.isim</p>
<p> TempData ile ındexTeki kulaklık markasını çekmeye çalışalım =>@TempData["KulaklıkMarka"]</p>

